<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngFor="let message of messageList">
      <bubble [message]="message"></bubble>
    </ng-container>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <form [formGroup]="formGroup">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="10">
            <ion-item lines="none">
              <ion-textarea
                auto-grow
                placeholder="Enter any notes here..."
                formControlName="message"
              ></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" (click)="sendMessage()">
              <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-footer>
